<h3>Product List</h3>
<app-msg-box *ngIf="!err && !product">
    <strong>loading....please wait..</strong>
</app-msg-box>
<app-msg-box *ngIf="err " [isError] ="true">
    <strong>{{ err }}</strong>
</app-msg-box>

<table class="table table-bordered table-hover table-success table-striped" *ngIf="product">
    <thead>
        <tr>
          <th (click) = "sort('productId')">Product ID&nbsp;<i class="fa fa-sort"></i></th>
          <th > Product Name</th>
          <th (click) = "sort('price')">Price&nbsp;<i class="fa fa-sort"></i></th>
          <th>Image</th>
          <th>Color</th>
          <th>Category</th>
          <th (click) = "sort('quantity')">Quantity&nbsp;<i class="fa fa-sort"></i></th>
          <th>Manufacturer</th>
          <th>Specification</th>
          <th colspan="2">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let e of product | orderBy: key: reverse | paginate:{itemsPerPage:10, currentPage:p}">
            <td>{{ e.productId}} </td>
            <td>{{ e.productName }} </td>
            <td>{{ e.price }} </td>
            <td>{{ e.image }} </td>
            <td>{{ e.color }} </td>
            <td>{{ e.category }} </td>
            <td>{{ e.quantity }} </td>
            <td>{{ e.manufacturer }} </td>
            <td>{{ e.specification }} </td>
            <td><button class="btn btn-sm btn-danger" (click)="delete(e.productId)">Delete</button></td>
            <td><a class="btn btn-sm btn-info" routerLink="/dashboard1/product1/productedit/{{e.productId}}">Edit</a></td>
        </tr>
    </tbody>
</table>
