<nav class="navbar navbar-dark  navbar-expand-sm " style="background-color: #004d4d;">
    <a routerLink="" class="navbar-brand"></a>
    <ul class="navbar-nav">
         <li class="nav-item ">
              <a routerLink="welcome1" class="nav-link  " ><strong>Home</strong></a>
            </li>
      <li class="nav-item">
            <a routerLink="product1" class="nav-link "><strong>Product</strong> </a>
        </li>
         <li class="nav-item">
        <a routerLink="sales" class="nav-link "><strong>Sales Report</strong></a>
        </li>
        <li class="nav-item">
            <a routerLink="growth" class="nav-link "><strong>Growth Report</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link " (click)="signOut()" href="#"><strong>Sign Out</strong></a>
          </li>
     </ul>
  </nav>


