<body>
<div class="card">
    <div class="card-body p-2">
        <a routerLink="/dashboard/product/productlist" class="btn btn-sm btn-outline-info">List</a>&nbsp;
        <a routerLink="/dashboard/product/productsearchbycategory/cat" class="btn btn-sm btn-outline-info">Search Category</a>&nbsp;
        <a routerLink="/dashboard/product/productfilterbyprice/filter" class="btn btn-sm btn-outline-info">Filter Price</a>&nbsp;
        <a routerLink="/dashboard/product/findbyproductname" class="btn btn-sm btn-outline-info">Find Product Name</a>
    </div>
  </div>
  <router-outlet></router-outlet>
</body>
