<h3>Cart List</h3>
<app-msg-box *ngIf="!err && !cart">
    <strong>loading ... please wait ...</strong>
</app-msg-box>

<app-msg-box *ngIf="err" [isError]="true">
    <strong>{{ err }} </strong>
</app-msg-box>

<table class="table table-bordered table-hover  table-success table-striped" *ngIf="cart">
    <thead>
        <tr>
            <th (click) = "sort('cartId')">CartId&nbsp;<i class="fa fa-sort"></i></th>
            <th (click) = "sort('userId')">UserId&nbsp;<i class="fa fa-sort"></i></th>
            <th (click) = "sort('productId')">Product&nbsp;<i class="fa fa-sort"></i></th>
            <th (click) = "sort('totalQuantity')">Quantity&nbsp;<i class="fa fa-sort"></i></th>
            <th (click) = "sort('cartTotalPrice')">Cart Total Price&nbsp;<i class="fa fa-sort"></i></th>
            <th colspan="3" >Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of cart | orderBy: key: reverse | paginate:{itemsPerPage:10, currentPage:p}">
            <td>{{ c.cartId }} </td>
            <td >{{ c.userId }} </td>
            <td >{{ c.productId }} </td>
            <td>{{ c.totalQuantity }} </td>
            <td>{{ c.cartTotalPrice }} </td>
            <td><button class="btn btn-sm btn-danger" (click)="delete(c.cartId)">Delete</button></td>
            <td><a class="btn btn-sm btn-info" routerLink="/dashboard/cart/cartedit/{{c.cartId}}">Edit</a></td>
            <td><a class="btn btn-sm btn-secondary" routerLink="/dashboard/cart/carttoorder/{{c.cartId}}">Order</a></td>
        </tr>
    </tbody>
</table>

